<!DOCTYPE html>
<html>
  <head>
    <title>PeAlco</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/flash_message" %>
    <div class="background">
      <%= render "layouts/background" %>
      <div id="container" class="container">
        <%= yield %>
      </div>
      <%= debug(params) if Rails.env.development? %>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        window.setTimeout(function() {
            $(".alert").slideUp();
        }, 3000);
        //jQueryの記述
        $(function(){
          
        });
    </script>
  </body>
</html>
